<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eagle</title>
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
</head>
<body>
<form method="post" action="/process">
    <div class="g-recaptcha" data-sitekey="{{ captcha_site_key }}"></div>
    <label>Search
        <input name="search" type="text"/>
    </label>
    <input type="submit" value="Search"/>
</form>
<div style="margin-top: 2em">
{% for filename in output -%}
    <!-- note that I am pointing the image src to the flask app -->
    <span style="display: inline-block; margin: 0 1em 1em 0; text-align: center;">
        <img src="/get-image/{{ filename }}" alt="{{ filename[:-4] }}"/>
        <br/>
        <span>{{ filename[:-4] }}</span>
    </span>
{% endfor %}
</div>
</body>
</html>